:root {
  --white: white;
  --black: black;
  --grey: #f0f0f0;
  --darkgrey: #c1c1c1;
}

body {
  background: url("background.jpeg"), lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 1440px;
  height: 1024px;
}

.container {
  width: 489px;
  height: 640px;
  background-color: var(--white);
  margin: 194px 515px 194px 436px;
}
.container-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}
.container-title {
  width: 141px;
  color: var(--black);
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 102px 174px 24px 174px;
}

.container-login-box {
  width: 389px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 8px;
  border: none;
  background: var(--grey);
  color: var(--darkgrey);
  font-family: "Khand", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.container-checkbox {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-items: center;
  margin: 31px 200px 100px 48px;
}
.container-svg {
  display: flex;
  flex-direction: row;
  gap: 61px;
  margin: 0px 202px 44px 203px;
}

.container-checkbox .box {
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  border-radius: 1px;
  border: none;
  accent-color: var(--darkgrey);
}
.container-checkbox label {
  color: var(--black);
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: column;
  margin-top: -20px;
}
.container-text p {
  color: var(--darkgrey);
  font-family: Khand;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
  line-height: 2px;
}
